# Application Environment (development or production)
APP_ENV=development

# DATABASE CREDS
DB_SERVERNAME=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

#AWS CREDS
BUCKET_NAME = 
AWS_IAM_KEY = 
AWS_IAM_SECRET = 

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=

# BREVO (Email)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=noreply@yourdomain.com
BREVO_SENDER_NAME=Event Registration